legend{
background-color:cornflowerblue;
}

fieldset{
background-color:cornflowerblue;
box-shadow: gray;
}

.legend2{
background-color: darkorchid;
}

.fieldset2{
background-color: darkorchid;
}

.legend3{
background-color: deeppink;
}

.fieldset3{
background-color: deeppink;
}